.root {
  width: 210px;
  position: fixed;
  right: 50px;
  top: 78px;
  border: 1px solid #DDD;
  transform: translateY(-50%);
}

.close {
  display: inline;
  position: relative;
  float: right;
  margin-right: 12px;
  margin-top: 3px;

  font-size: 1.5em;
  font-weight: bold;
  color: #CCC;
}

.close:hover {
  color: #BBB;
  cursor: pointer;
}

.header {
  font-size: 1.25em;
  font-weight: bold;
  color: #CCC;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #DDD;
}

.list {
  max-height: 90px;
  overflow-y: scroll;
}

.user {
  font-size: 1em;
  color: #BBB;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

@media (max-width: 1375px) {
  .root {
    background-color: hsl(42, 80%, 92%);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 375px) {
  .root {
    right: 25px;
  }
}
