.root {
  position: fixed;
  right: 50px;
  top: 50px;

  width: 35px;
  height: 35px;

  box-shadow: 0 0 5px #999;
  vertical-align: middle;

  border: 1px solid #DDD;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.root:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.icon {
  width: 17px;
}

@media (max-width: 1025px) {
  .root {
    position: absolute;
  }
}

@media (max-width: 375px) {
  .root {
    right: 25px;
  }
}
